@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

body {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  background-color: teal;
}

h1 {
  margin: 30px;
  font-size: 24px;
}

#settings {
  width: 50%;
  min-width: 350px;
  margin: 0 auto;
}

#timeset, #breakset {
  width: 150px;
  font-size: 0;
  padding: 5px;
  border-radius: 5px;
  background-color: #70a6ff;
  cursor: default;
}

.inactive {
  opacity: 0.5;
}

.set-head {
  font-size: 14px;
  margin-bottom: 5px;
}

#timeset {
  float: left;
}

#breakset {
  float: right;
}

.set-button, .set-number {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
}

.set-button {
  width: 25%;
  background-color: #448bff;
  cursor: pointer;
}

.set-number {
  width: 40%;
}

div {
  /*border: 1px solid black;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;   
  -ms-user-select: none;    
  -o-user-select: none;
  user-select: none;
}

#timer {
  display: inline-block;
  height: 300px;
  width: 325px;
  margin: 20px auto;
  border-radius: 45%;
  background-color: #ff6347;
}

#greenbit {
  height: 29px;
  width: 90px;
  border-radius: 100%;
  background-color: #00b700;
  margin: auto;
  top: -9px;
  position: relative;
}

#clock {
  position: relative;
  top: 23%;
  width: 60%;
  margin: auto;
  padding: 5px;
}

#clock div {
  top: 30%;
  display: inline-block;
  font-size: 50px;
  padding: 8px;
  background-color: #ff7b64;
  border-radius: 20%;
  width: 70px;
}

#controls {
  margin: 0 auto;
  min-width: 350px;
}

#controls div {
  display: inline-block;
  height: 50px;
  width: 80px;
  padding: 10px;
  line-height: 3em;
  cursor: pointer;
  background-color: #176b6b;
  border-radius: 10%;
  margin: 5px;
}

#status {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  margin-bottom: 10px;
}

#paused {
    top: 95px;
    position: relative;
}
